<div id="contact-page">
	<h1 class = "contact-title">
		Here you can contact each member of the group!
	</h1>
	<p id = "contact-text">
		Nathaniel Whitlock<br>
				Email: whitlocn@oregonstate.edu<br><br>

		Jesse Chick<br>
				Email: chickj@oregonstate.edu<br><br>

		Andrew Morrill<br>
				Email: morrilan@oregonstate.edu<br><br>

		Cody McKenzie<br>
				Email: mckencod@oregonstate.edu
	</p>
</div>