<div class = "contact-page">
	<h1>
		Here you can contact each member of the group!
	</h1>
	<p>
		Nathaniel Whitlock:
				Email: whitlocn@oregonstate.edu

		Jesse Chick:
				Email: chickj@oregonstate.edu

		Andrew Morril:
				Email: morrilan@oregonstate.edu

		Cody McKenzie:
				Email: mckencod@oregonstate.edu
	</p>
</div>