<div class = "home-page">
	<div class = "home-page-title">
		<h1>
		~Welcome to the Recipe Repository App~
		</h1>
	</div>
	
{{!-- 	<img src = "images/Home_Page/CookingResize.jpg" id = "home-page-img1">
	</img> --}}

		<p id = "home-page-text">
			There are multiple ways of interacting with the interface. First off, you can click on one of the categories located in the leftmost pane. Second, you can enter a search query by pressing the search button in the navbar, once the search box becomes available you can enter a query against the recipes in the database. Finally, there is built in functionality which allows the addition and removal of recipes from the database.
		</p>
{{!-- 		<img src = "images/Home_Page/recipes-cooking-resize.png" id = "home-page-img2">
		</img> --}}

		<img src = "images/Home_Page/GetCookingResize.png" id = "home-page-img3">
		</img>	
	
	<!-- WHY ARE YOU USING INLINE JS?? -->
	<script>
		$(document).ready(function() {
			$(".recipe-header").hide();
		});
	</script>
</div>