<div class = "home-page">
	<div class = "home-page-title">
		<h1>
		Welcome to the Home Page!
		</h1>
	</div>
	
	<img src = "images/Home_Page/CookingResize.jpg" id = "home-page-img1">
	</img>

	<img src = "images/Home_Page/recipes-cooking-resize.png" id = "home-page-img2">
	</img>

	<p id = "home-page-text">
		You may begin by using the navigation bar to your left to pick a category and check out the awesome recipes we have on our site!
	</p>

	<img src = "images/Home_Page/GetCookingResize.png" id = "home-page-img3">
	</img>
	
	<script>
		$(document).ready(function() {
			$(".recipe-header").hide();
		});
	</script>
</div>