<div class="left-navbar">
  <ul class="left-nav-list">
    <li class="category"><a href="#">Mexican</a></li>
    <li class="category"><a href="#">Greek</a></li>
    <li class="category"><a href="#">Asian</a></li>
    <li class="category"><a href="#">Italian</a></li>
    <li class="category"><a href="#">Etc.</a></li>
  </ul>
</div>
