<div class="left-navbar">
  <ul class="left-nav-list">
	<li class="category"><a href="#">Asian</a></li>
			<li class="category"><a href="Beverages">Beverages</a></li>
			<li class="category"><a href="Breakfast">Breakfast</a></li>
			<li class="category"><a href="Dessert">Dessert</a></li>
			<li class="category"><a href="Entree">Entree</a></li>
			<li class="category"><a href="Greek">Greek</a></li>
			<li class="category"><a href="Italian">Italian</a></li>
			<li class="category"><a href="Mexican">Mexican</a></li>
			<li class="category"><a href="Salad">Salad</a></li>
			<li class="category"><a href="Sides">Sides</a></li>
			<li class="category"><a href="Seafood">Seafood</a></li>
			<li class="category"><a href="Etc">Etc.</a></li>
  </ul>
</div>
