<div class="left-navbar">
  <ul class="left-nav-list">
	    <li class="category"><label for="asian">Asian</label></li>
			<li class="category"><label for="beverages">Beverages</label></li>
			<li class="category"><label for="breakfast">Breakfast</label></li>
			<li class="category"><label for="dessert">Dessert</label></li>
			<li class="category"><label for="entree">Entree</label></li>
			<li class="category"><label for="greek">Greek</label></li>
			<li class="category"><label for="italian">Italian</label></li>
			<li class="category"><label for="mexican">Mexican</label></li>
			<li class="category"><label for="salad">Salad</label></li>
			<li class="category"><label for="sides">Sides</label></li>
			<li class="category"><label for="seafood">Seafood</label></li>
			<li class="category"><label for="etc">Etc.</label></li>
  </ul>
</div>
