<!-- <div id="recipe-display-backdrop" class="hidden"></div>
<div id="add-note-modal" class="hidden"> -->
<div id="recipe-display-backdrop"></div>
<div id="recipe-modal">
  <div id="modal-dialog">

    <div id="modal-header">
      <h3>Taco Salad</h3>
      <button type="button" id="modal-close-button">&times;</button>
    </div>

    <div id="modal-content">
      <div class="recipe-component">
        <h4>Ingredients</h4>
        <ul class="recipe-list">
          <li class="recipe-list-item ingredient">Lean ground beef, <span class="quantity">1 lb.</span></li>
          <li class="recipe-list-item ingredient">Taco seasoning mix, <span class="quantity">1.25 oz.</span></li>
          <li class="recipe-list-item ingredient">Chili beans, <span class="quantity">16 oz.</span></li>
          <!--etc.-->
        </ul>
      </div>
      <div class="recipe-component">
        <h4>Steps</h4>
        <ol class="recipe-list">
          <li class="recipe-list-item step">In a large skillet over medium-high heat, brown the ground beef and drain excess fat. Stir in the taco seasoning, chili beans and French-style dressing. Fill the dressing bottle 2/3 full of water and add to the skillet. Bring to a boil, reduce heat and simmer for 15 minutes.</li>
          <li class="recipe-list-item step">Crush the bag of chips, open the bag, and toss the broken chips into a large bowl with the lettuce, cheese and tomatoes. When the meat mixture is done, combine it with the lettuce, tomatoes, chips and mix well. Then, add salsa and sour cream.</li>
        </ol>
      </div>
    </div>

    <!-- <div class="modal-body">
      <div class="todo-input-element required">
        <label for="todo-input-what">What</label>
        <input type="text" id="todo-input-what">
      </div>
      <div class="todo-input-element">
        <label for="todo-input-where">Where</label>
        <input type="text" id="todo-input-where">
      </div>
      <div class="todo-input-element">
        <label for="todo-input-when">When</label>
        <input type="text" id="todo-input-when">
      </div>
      <div class="todo-input-element">
        <label for="todo-input-who">Who</label>
        <input type="text" id="todo-input-who">
      </div>
      <div class="todo-input-element">
        <label for="todo-input-details">Details</label>
        <textarea id="todo-input-details"></textarea>
      </div>
    </div> -->

    <div class="modal-footer">
      <button type="button" class="modal-cancel-button">Cancel</button>
      <button type="button" class="modal-accept-button">Add ToDo</button>
    </div>

  </div>
</div>
