.header-h1{
 	padding: 0px;
 	margin: 0px;
 	background-image: url("images/Food_Header.jpg");
 	background-size: cover;
 	height: 80px;
}

.header-h1 a{
 	padding-left: 15px;
 	text-decoration: none;
 	font-family: "Comic Sans MS";
 	color: white;
 	font-size: 1.5em;
}

.Main_Image{
	padding: 20px;
}

body{
 	border: 0px;
 	margin: 0px
}

head{
	border: 0px;
	margin: 0px;
}

.navbar-list{
 	background-color: #333333;
 	padding: 0;
 	margin: 0; 
 	height: 32px;
}

.navbar-item{
	display: inline-block;
	margin: 0px 5px 0px 5px;
	padding: 5px 10px 5px 10px;
}

.navbar-item a{
	color: white;
	text-decoration: none;
	font-size: 1.2em;
}

.navbar-item:hover{
	background-color: #696969;
}

.navbar-right{
	float: right;
}

footer{
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	height: 26px;
	background-color: #333333;
}

.copyright{
	position: relative;
	right: 10px;
	color: white;
	text-align: right;
	font-size: 18px;
}

.navbar-item-Assignment:hover{
	background-color: green;
	display: inline-block;
	margin: 0px 5px 0px 5px;
	padding: 5px 10px 5px 10px;
}

/* Post boilerplate rules*/

.left-navbar{
	position: fixed;
	width: 200px;
	background-color: gray;
	left: 0;
	height: 100%;
}

.left-nav-list{
 	height: 300px;
 	padding: 0px;
 	margin: 0px;
 	border: 0px;
}

.catagory{
	color: white;
	font-size: 2em;
	list-style-type: none;
	padding: 15px;
}

.catagory a{
	text-decoration: none;
	color: white;
}

.catagory:hover{
	background-color: #333333;
}

/* Workspace Rules*/
.recipe-workspace{
  background-color: #fffbf4;
  position: fixed;
  top: 112px;
  left: 200px;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.recipe{
  color: blue;
  font-size: 12px;
  list-style-type: none;
  margin: 2px;
}

.recipe-header{
  color: blue;
  font-size: 18px;
}

.recipe-list{
  margin-left: 15px;
}
/* Modal CSS from assignment 2*/
#modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}

#add-note-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

.hidden {
  display: none;
}

.modal-dialog {
  width: auto;
  max-width: 600px;
  min-width: 350px;
  min-height: 300px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 15px;
}

.modal-header {
  position: relative;
  padding: 10px 20px;
}

.modal-header h3 {
  margin: 0;
  font-size: 28px;
}

.modal-close-button {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 24px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.modal-body {
  padding: 20px;
}

.todo-input-element {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 10px 0;
}

.todo-input-element label {
  font-weight: 600;
  flex: 1 75px;
  margin-right: 10px;
}

.todo-input-element input,
.todo-input-element textarea {
  flex: 6 200px;
  padding: 8px;
  font-size: 20px;
  border: 1px solid #aaa;
}

.todo-input-element textarea {
  min-height: 64px;
}

.todo-input-element.required label::after {
  content: ' *';
  color: red;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 20px 10px;
}

.modal-footer button {
  font-size: 20px;
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  margin-right: 20px;
  cursor: pointer;
}

.modal-footer .modal-cancel-button:hover {
  background-color: #eee;
}

.modal-footer .modal-accept-button {
  background-color: #2464f5;
  color: #fff;
}

.modal-footer .modal-accept-button:hover {
  background-color: #5481e4;
}

