{{> header}}

<main>
	{{> left-navbar}}

    <div class="recipe-workspace">
			<h1 class="recipe-header">List of Recipes:</h1>

			{{#each category}}
				<h3>{{@key}}</h3>
				{{#each this.recipes}}
					<p>{{this.title}}</p>
				{{/each}}
			{{/each}}

			<div class="recipe-list"></div>
		</div>


    <div class="right-frame">
    </div>

    <div id="search-box">
      <input id="search-box-input" type="text" placeholder="Enter search query...">
    </div>

		{{> google-search}}

	</main>

	<!-- {{> footer}} -->

  <button type="button" class="google-search">Google Search?</button>

  {{> recipe-display}}
