{{> header}}

<main>
	<div class="left-navbar">
		<ul class="left-nav-list">
			<li class="category"><a href="#">Mexican</a></li>
			<li class="category"><a href="#">Greek</a></li>
			<li class="category"><a href="#">Asian</a></li>
			<li class="category"><a href="#">Italian</a></li>
			<li class="category"><a href="#">Etc.</a></li>
		</ul>
	</div>

    <div class="recipe-workspace">
     <h1 class="recipe-header">List of Recipes:</h1>

      <div class="recipe-list">

       {{!--  <div class="link-icon">
          <img src="/images/Mexican/favicon-96x96.png">
          <li class="recipe"><p>Mexican</p></li>
        </div>
        <div class="link-icon">
          <img src="./images/Greek/favicon-96x96.png">
          <li class="recipe"><p>Greek</p></li>
        </div>
        <div class="link-icon">
          <img src="./images/Asian/favicon-96x96.png">
          <li class="recipe"><p>Asian</p></li>
        </div>
        <div class="link-icon">
          <img src="./images/Italian/favicon-96x96.png">
          <li class="recipe"><p>Italian</p></li>
          </div>
        <div class="link-icon">
          <img src="./images/Etc\./favicon-96x96.png">
          <li class="recipe"><p>Etc.</p></li>
        </div>
         <div class="link-icon">
          <img src="./images/Beverage/favicon-96x96.png">
          <li class="recipe"><p>Beverages</p></li>
        </div>
        <div class="link-icon">
          <img src="./images/Breakfast/favicon-96x96.png">
          <li class="recipe"><p>Breakfast</p></li>
        </div>
        <div class="link-icon">
          <img src="./images/Dessert/favicon-96x96.png">
          <li class="recipe"><p>Desserts</p></li>
        </div>
         <div class="link-icon">
          <img src="./images/Salad/favicon-96x96.png">
          <li class="recipe"><a href="#">Salads</a></li>
        </div>
          <li class="recipe"><a href="#">Salads</a></li>
        </div>

          <li class="recipe"><p>Salads</p></li>
        </div>  
>>>>>>> master
>>>>>>> 14018b836c140fce5ccae67bac230786e1465789
        <div class="link-icon">
          <img src="./images/Side_Dish/favicon-96x96.png">
          <li class="recipe"><p>Side Dishes</p></li>
        </div>
         <div class="link-icon">
          <img src="./images/Seafood/favicon-96x96.png">
          <li class="recipe"><p>Seafood</p></li>
        </div>
        <div class="link-icon">
          <img src="./images/Entree/favicon-96x96.png">
<<<<<<< HEAD
          <li class="recipe"><a href="#">Entrees</a></li>
        </div>
=======
<<<<<<< HEAD
          <li class="recipe"><a href="#">Entrees</a></li>
        </div>

=======
          <li class="recipe"><p>Entrees</p></li>
        </div>      
        
>>>>>>> master
>>>>>>> 14018b836c140fce5ccae67bac230786e1465789
      </div>
    </div> --}}

    <div class="right-frame">
    </div>

    <div id="search-box">
      <input id="search-box-input" type="text" placeholder="Enter search query...">
    </div>

		{{> google-search}}

	</main>

	<!-- {{> footer}} -->

  <button type="button" class="google-search">Google Search?</button>

  {{> recipe-display}}
