{{> header}}

<main>
	<div class="left-navbar">
		<ul class="left-nav-list">
			<li class="catagory"><a href="#">Mexican</a></li>
			<li class="catagory"><a href="#">Greek</a></li>
			<li class="catagory"><a href="#">Asian</a></li>
			<li class="catagory"><a href="#">Italian</a></li>
			<li class="catagory"><a href="#">Etc.</a></li>
		</ul>	
	</div>

	 <div class="bottom-bar">
        <button type="button" class="google-search">Google Search?</button>
    </div>

    <div class="recipe-workspace">
      <div class="recipe-list">
        <h1 class="recipe-header">List of Recipes:</h1>
        <!--
        <div class="link-icon">
          <img src="/images/Mexican/favicon-96x96.png">
          <li class="recipe"><a href="#">Mexican</a></li>
        </div>
        -->
        
      </div>
    </div>

    <div class="google-api hidden">
    </div>

	</main>

	{{> footer}}