{{> header}}

<main>
	<div class="left-navbar">
		<ul class="left-nav-list">
			<li class="category"><a href="#">Mexican</a></li>
			<li class="category"><a href="#">Greek</a></li>
			<li class="category"><a href="#">Asian</a></li>
			<li class="category"><a href="#">Italian</a></li>
			<li class="category"><a href="#">Etc.</a></li>
		</ul>
	</div>

    <div class="recipe-workspace">
     <h1 class="recipe-header">List of Recipes:</h1>

      <div class="recipe-list">

       

    <div class="right-frame">
    </div>

    <div id="search-box">
      <input id="search-box-input" type="text" placeholder="Enter search query...">
    </div>

		{{> google-search}}

	</main>

	<!-- {{> footer}} -->

  <button type="button" class="google-search">Google Search?</button>


  {{> create-recipe}}

