/* Post boilerplate rules*/

body {
  background-color: blue;
  margin: 0;
}

.left-navbar {
	position: fixed;
	width: 200px;
	/*background-color: gray;*/
  /*background-color: rgba(18, 200, 30, .5);*/
  /*background-color: #192;*/
	left: 0;
  top: 90px;
	height: 100%;
  border-radius: 10px;
}

.left-nav-list{
  height: auto;
 	/*height: 300px;*/
 	padding: 0px;
 	margin: 0px;
 	border: 0px;
}

.left-nav-list li{
  margin-top: 5px;
  background-color: rgba(18, 200, 30, .5);
  border-radius: 10px;
}

.left-nav-list li:hover{
  background-color: rgba(18, 150, 30, .8);
  cursor: pointer;
}

.left-nav-list li a{
  text-decoration: none;
  font-family: "Helvetica"/*"Comic Sans MS"*/, cursive, sans-serif;
  color: #000;
}

.left-nav-list li a:hover{
  color: white;
}

.right-frame{
  visibility: hidden;
  position: fixed;
  background-color: gray;
  height: 100%;
  width: 65px;
  top: 90px;
  right: 0px;
  border-radius: 10px;

}

.category{
	color: white;
	font-size: 2em;
	list-style-type: none;
	padding: 15px;
}

.category a{
	text-decoration: none;
	color: white;
}

.category:hover{
	background-color: #333333;
}

.recipe a:hover{
  text-decoration: none;
}

.google-api{
  position: fixed;
  right: 67px;
  left: 202px;
  background-color: rgba(0, 102, 102,0.7);
  bottom: 100px;
  height: 500px;
  border-radius: 10px;
  display: none;
}

.google-api .dismiss-button {
  font-family: sans-serif;
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 30px;
  display: none;
  cursor: pointer;
}
.google-api:hover .dismiss-button {
  display: initial;
}

.google-search{
  border-radius: 20px;
  background-color: #3fb53d;
  border-width: 2px;
  border-color: white;
  position: fixed;
  left: 23px;
  bottom: 8px;
  color: white;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.google-search-container{
  margin: 50px;
  position: absolute;
  max-height: 400px;
  /*width: 80%;*/
  /*position: relative;
  top: 10px;
  left: 175px;*/
  /*display: inline-block;*/
  overflow: scroll;
}

/*
  Something is wrong with the clickability of
  this button from the perspective of the user.
  Someone should look into it...
*/
.google-search:hover{
  cursor: pointer;
}

/*
  active is an altertive for below
  focus effect the element continually
*/
.google-search:active{
  background-color: #6e9fef;
}

.hidden{
  visibility: visible;
}

footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  background-color: gray;
}

.copyright{
  position: relative;
  right: 10px;
  color: white;
  text-align: right;
  font-size: 18px;
  font-family: "Helvetica"/*"Comic Sans MS"*/, cursive, sans-serif;
}

/* Workspace Rules*/
.recipe-workspace{
  background-color: #fcf2de;
  position: fixed;
  top: 90px;
  left: 202px;
  width: 86%;
  bottom: 29px;
  /*border-radius: 10px;*/
  /*overflow: scroll;*/
}

.recipe{
  color: blue;
  font-size: 14px;
  font-weight: 600;
  list-style-type: none;
  margin: 2px;
}

.link-icon p{
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
  color: rgba(18, 142, 35, 0.8);
}

.link-icon{
  display: inline-block;
  margin: 10px;
}

.link-icon:hover{
  cursor: pointer;
}

.link-icon img{
  display: block;
  margin: 0 auto;
  width: 100px;
}

.recipe-header{
  color: green;
  padding-left: 17px;
  font-family: Papyrus, fantasy;
  font-size: 32px;
  font-style: normal;
  font-variant: normal;
  font-weight: 900;
  line-height: 26.4px;
}

.recipe-list{
  margin-left: 15px;
  height: 93%;
  width: 98%;
  background-color: #fcf2de;
  border-radius: 10px;
}
/* Modal CSS from assignment 2*/
#recipe-display-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
  display: none;
}

#recipe-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  display: none;
  /*overflow: scroll;*/
}

.hidden {
  visibility: hidden;
  /*display: none;*/
}

#modal-dialog {
  width: auto;
  max-width: 1000px;
  min-width: 450px;
  min-height: 800px;
  max-height: 100%;
  margin: 40px auto;
  background-color: rgba(252,242,222,0.9);
  border-radius: 15px;
}

#modal-header {
  position: relative;
  padding: 3px ;
  display: inline-block;
  width: 50%;
  right: 50%;
/*  right: 50%;*/
  left: 25%;
  display: none;
}

#modal-header h1 {
  margin: 0;
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  background-color: rgba(0, 117, 58, 1);
  border-radius: 15px;
  color: white;
}

/*#modal-close-button {
  position: absolute;;
  right: 20px;
  bottom: 0px;
  font-size: 32px;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  float: right;
  /*background-color: blue;
}*/

#go-back{
  position: fixed;
  top: 47px;
  left: 470px;
  height: 30px;
  width: 30px;
}

#go-back:hover{
  cursor: pointer;
}

#image-placeholder{
  background-color: blue;
  height: 250px;
  width: 320px;
  position: absolute;
  border-radius: 10px;
  top: 150px;
  right: 550px;
}

#image-placeholder img{
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

#modal-content {
  display: block;
  overflow-x: wrap;
  margin: 10px 40px;
  background-color: rgba(18, 142, 35, 0.3);
<<<<<<< HEAD
 /* overflow-y: scroll;*/
 left: 100px;
 border-radius: 10px;
  font-family: "Comic Sans MS", cursive, sans-serif;

=======
  /*overflow-y: scroll;?*/
  left: 100px;
  border-radius: 10px;
  /*font-family: "Comic Sans MS", cursive, sans-serif;*/
  
>>>>>>> 3c76f4ba771ca2aeefc5180c012b13cf4db694d6
}

.modal-body {
  padding: 20px;
  display: list-item;
  overflow-x: wrap;
   font-family: "Comic Sans MS", cursive, sans-serif;
  /*overflow-y: scroll;*/
}

.recipe-component {
  display: relative;
/*  padding: 10px;*/
  width: 420px;
}

.recipe-component-steps {
  display: relative;
  padding: 10px;
  height: 100%;
}

#recipe-header{
  margin-left: 15px;
}

.recipe-list {
  /*position: relative;*/
  /*border-radius: 2px solid #000;*/
  margin: 10px;
  width: 95%;
}
.recipe-list-item {
  text-align: left;
}
.ingredient {
  /*text-decoration: underline;*/
}
.quantity {
  font-weight: bold;
}
.step {
  font-style: italic;
}

.todo-input-element {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 10px 0;
}

.todo-input-element label {
  font-weight: 600;
  flex: 1 75px;
  margin-right: 10px;
}

.todo-input-element input,
.todo-input-element textarea {
  flex: 6 200px;
  padding: 8px;
  font-size: 20px;
  border: 1px solid #aaa;
}

.todo-input-element textarea {
  min-height: 64px;
}

.todo-input-element.required label::after {
  content: ' *';
  color: red;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 20px 10px;
}

.modal-footer button {
  font-size: 20px;
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  margin-right: 20px;
  cursor: pointer;
}

.modal-footer .modal-cancel-button:hover {
  background-color: #eee;
}

.modal-footer .modal-accept-button {
  background-color: #2464f5;
  color: #fff;
}

.modal-footer .modal-accept-button:hover {
  background-color: #5481e4;
}


/* Alternative Header*/
header {
  color: white;
  padding: 5px 20px 0 5px;
  background-image: url("/images/Food_Header.jpg");
  background-size: cover;
  border-radius: 10px;
  max-height: 87px;
  /*background-image: "./Food_Header.jpg";*/
}

header h1 {
  display: inline-block;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 48px;
  font-weight: 200;
  position: relative;
  left: 10px;
  bottom: 10px;
  text-decoration: none;
  background-color: rgba(18, 142, 35, 0.6);
  padding: 5px;
  border-radius: 10px;
}

header h1 a {
  color: inherit;
  border-radius: 10px;
}

header h1 a:hover {
  text-decoration: none;
  color: white;
}

nav {
  background-color: #333;
  color: white;
  margin: 0 -20px;  /* negative margin here makes up for header padding */
  font-size: 28px;
  font-weight: 200;
}

.navbar-list {
  list-style-type: none;
  padding: 0;
  margin: 0 20px;
  display: inline-block;
  position: absolute;
  right: 0px;
  top: 48px;
}

.navbar-item {
  display: inline-block;
}

.navbar-item a {
  margin-right: 10px;
  padding: 5px;
  color: white;
  font-size: 24px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  background-color: rgba(18, 142, 35, 0.6);
  border-radius: 10px;
}

.navbar-item a:hover {
  text-decoration: none;
  background-color: rgba(18, 142, 35, 0.8);
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.navbar-item a:visited{
  text-decoration: none;
  color: white;
}

#icon{
  height: 40px;
  width: 40px;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

#search-box{
  width: 400px;
  height: 50px;
  position: fixed;
  top: 39px;
  right: 165px;
  border-radius: 10px;
  display: none;

}

#search-box input{
  width: 98%;
  position: absolute;
  top: 2px;
  right: 0px;
  bottom: 2px;
  left: 2px;
  border-radius: 5px;
  font-size: 24px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  opacity: 0.9;
  display: none;
}
